<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger %d{HH:mm:ss.SSS dd-MM-yyyy} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/freelance-stats-importer.log</file>
        <append>true</append>
        <encoder>
            <pattern>%logger %d{HH:mm:ss.SSS dd-MM-yyyy} %-5level - [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger level="info" name="com.freelanceStats">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>